html, body {
    margin: 0;
    padding: 0;
    height: 820px;
    width: 600px;
    background-color: #FFFFFF ;
}

.inside {
    background: white;
    position: relative;
}

.topBox {
    background: #333333;
    max-width: 100%;
    height: 60px;
}

.text {
    color: white;
    font-size: 17px;
}

.text1 {
    position: absolute;
    max-width: 270px;
    font-size: 12px;
}

.Apple {
    left: 30px;
    bottom: 20px;
    position: absolute;
    
}

.Google {
    bottom: 20px;
    left: 100px;
    position: absolute;
}

.heading {
    font-size:40;
    color: black;
    font-weight: bold;
    position: absolute;
    left: 30;
    top: 110;
}

.p1 {
    position: absolute;
    top: 190px;
    margin-left: 35px;
}

.p2 {
    position: absolute;
    top: 320px;
    margin-left: 35px;
}

.p3 {
    position: absolute;
    top: 450px;
    margin-left: 35px;
}

.p4 {
    position: absolute;
    top: 585px;
    margin-left: 35px;
}

.p5 {
    position: absolute;
    left: 320;
    top: 320;
}

.p6 {
    position: absolute;
    left: 320;
    top: 450
}

.squareBox {
    background: #D8D8D8;
    height: 200px;
    width: 270px;
    position: absolute;
    left: 320;
    top: 120;
}

.bottomBox {
    background: #333333;
    width: 600px;
    height: 60px;
    position: absolute;
    bottom: -760px;
}

